$black-color: hsl(0, 0%, 0%);
$lilac-color: hsl(237, 45%, 90%);
$purple-color: hsl(232, 62%, 57%);

.container {
	max-width: 1200px;
}

.is-hidden {
	display: none;
}

@media (min-width: 1200px) {
	/* Hamburger Menu */
}
